## R 실습 1강: R 및 R studuo 설치

### 1) R 및 R studuo 설치

- R의 장점: R은 통계를 위한 프로그래밍 언어로서 무료로 사용할 수 있고, 
- 자유롭게 배포할 수있다는 것이 큰 장점이다. 
- 다양한 새로운 분석기법도 패키지 형태로 다운받아 설치한 후 활용할 수 있으며,
- 그래픽 기능도 매우 우수하다.

### 2) 데이터 불러들이고 확인하기

In [9]:
#데이터 불러들이기 예
ex = read.csv('datasets/score.csv')

In [10]:
#데이터 구조 확인
str(ex)

'data.frame':	10 obs. of  7 variables:
 $ ID    : int  1 2 3 4 5 6 7 8 9 10
 $ Age   : int  20 18 20 19 20 18 21 19 20 19
 $ Sex   : chr  "?" "?" "?" "?" ...
 $ Math  : int  89 90 95 90 85 88 96 88 70 93
 $ Eng   : int  95 75 90 95 90 87 94 92 85 90
 $ Height: int  175 168 164 175 159 180 177 160 170 169
 $ Weight: int  80 52 55 70 49 84 85 54 53 70

In [11]:
#변수명 확인
names(ex)

[1] "ID"     "Age"    "Sex"    "Math"   "Eng"    "Height" "Weight"

In [12]:
#갯수와 변수의 수 확인
dim(ex)

[1] 10  7

In [13]:
#변수의 유형: Logical: 참 또는 거짓, Int: 정수, Double: 실수, Character: 문자열
typeof(ex$Weight)
typeof(ex$Eng)

ex$Weight <- as.numeric(ex$Weight)
typeof(ex$Weight)

[1] "integer"

[1] "integer"

[1] "double"

In [14]:
#처음 6행의 값 확인
head(ex)

  ID Age Sex Math Eng Height Weight
1 1  20  ?   89   95  175    80
2 2  18  ?   90   75  168    52
3 3  20  ?   95   90  164    55
4 4  19  ?   90   95  175    70
5 5  20  ?   85   90  159    49
6 6  18  ?   88   87  180    84

In [17]:
# 데이터 프린트
print(ex[, c(1:5)])

   ID Age Sex Math Eng
1   1  20   ?   89  95
2   2  18   ?   90  75
3   3  20   ?   95  90
4   4  19   ?   90  95
5   5  20   ?   85  90
6   6  18   ?   88  87
7   7  21   ?   96  94
8   8  19   ?   88  92
9   9  20   ?   70  85
10 10  19   ?   93  90

In [18]:
print(ex[c(1:5),])

  ID Age Sex Math Eng Height Weight
1  1  20   ?   89  95    175     80
2  2  18   ?   90  75    168     52
3  3  20   ?   95  90    164     55
4  4  19   ?   90  95    175     70
5  5  20   ?   85  90    159     49